*{
    padding: 0;
    margin: 0;
}
:root{
    --secondary-color: rgba(129, 122, 122, 0.716);
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.nav{
    display: none;
    gap: 20px;
    border: 1px rgba(150, 143, 143, 0.401) solid ;
    background-color:rgba(255, 255, 255, 0.155) ;
    border-radius: 20px;
    padding: 6px;
    justify-content: center;
    align-items: center;
}
.activated{
    background-color: white;
    color:  #007bff8d;
    padding: 9px;
    border-radius: 20px;
}

.buttons {
    display: flex; 
    gap: 10px; 
    display: flex;
   
}
.buttonP{
    padding: 8px;
    border-radius: 30%;
    background-color:rgba(255, 255, 255, 0.155);
    color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttonP:hover {
    background-color: #0769d2a4; 
}
.container{
    width: 100%;
}
.header{
    background-image:url("./real_state/3d-rendering-wooden-house.jpg") ;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 10px;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
       
      
    }
    .search:hover{
        cursor: pointer;
    }
    .search{
        display: flex;
        padding-inline: 10px;
        background-color: white;
        color: black;
        border-radius: 40px;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-bottom: 5px;
}
.sub{
    color: var(--secondary-color);
    font-size: 10px;
}
.lens{
    background-color: #007bff;
    color: white;
    padding: 5px;
    font-size: 10px;
    border-radius: 50%;
}
  
.main_title{
    text-align: center;
    padding-inline: 45px;
}
.intro{
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    padding-inline: 50px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.819);
}
.tail{
    display: flex;
    font-size: 12px;
    display: flex;
    justify-content: space-between;        
}
.details{
    color: var(--secondary-color);
    margin-top: 20px;
    padding-right: 60px;
    margin-bottom: 20px;
}
.charts{
    background-color:rgba(250, 235, 215, 0.327);
    margin-top: 20px;
    padding: 20px;
    
    
    
 
    
}
.explore_button {
    padding: 10px 20px; 
    border-radius: 20px; 
    background-color: #007bff; 
    width: 9rem;
    margin-top: 10px;
    color: white;
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    font-family: Arial, sans-serif; 
}
.explore_button:hover {
    background-color: #0056b3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:active {
    background-color: #004494; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.photo{
    background-image: url("./real_state/view-luxurious-villa-with-modern-architectural-design.jpg");
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    
}
.inner-photo{
    width: 100%;
    border-radius: 30px;
    height: 20rem;
}

.inner-houses{
    width: 100%;
    border-radius: 10px;
}
.house1{
    padding-inline: 40px;
    margin-block: 15px;
    
}
.fdetails{
    display: flex;
    justify-content:space-between;
    font-weight: 900;
    font-size: 18px;
    
}
.sec{
    color: var(--secondary-color);
    font-weight: 100;
    font-size: 12px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-icon{
    display: flex;
    gap: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.611);
}
.title{
    padding-left: 20px;
    margin-block: 20px;
}
.bg-comment{
    background-image: url("./real_state/3d-rendering-loft-luxury-living-room-with-bookshelf-near-bookshelf.jpg");
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.living_space{
   
    padding: 20px;
    margin-block: 40px;
   
}
.spaces{
    margin-block: 30px;

}
.secondary{
    color: var(--secondary-color);
    margin-block: 20px;
}
.comment{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
   

}
.sdetails{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.p-ft{
    font-size: 12px;
    padding: 8px;
    font-weight: 900;
}
.span-size{
    color: var(--secondary-color);
    font-size: 12px;
}
.size{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.details-button:hover{
    cursor: pointer;

}
.recomendation{
   
   
    padding: 20px;
  
  
}
img{
    width: 100%;

}
.rec-title{
    margin-block: 20px;

}
.house-design{
    border: 1px rgba(150, 143, 143, 0.401) solid;
    padding: 15px;
}
.details-h6{
    font-size: 18px;
    color: black;

}
.details-p{
    color:var(--secondary-color);
    margin-block: 10px;
}
.details-button{
    width: 100%;
    height: 2rem;
    border-radius: 20px;
    border: 1px rgba(150, 143, 143, 0.401) solid;
    color: black;
}
.details{
    margin-top: 10px;
}
.frequently-asked{
    padding: 20px;
    margin-block: 20px;
   
   
}
.asked-h2{
    margin-block: 20px;

}
.blue{
    color: #0a76f2;

}
.ask{
    font-size: 16px;

}
.question{
    display: flex;
    justify-content: space-between;
   
   
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cancle{
    display: flex;
    flex-direction: column;
  
}
.sec-p{
    color: var(--secondary-color);

}
.line{
    display: flex;
    justify-content: space-between;
    span{
        color:#004494;
    }
}
.join-us{
    border-radius: 10px;
    background-image: url("./real_state/kam-idris-hYb7kbu4x7E-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
   
}
.join-h2{
    color:white;
    text-align: center;
    padding-inline: 40px;
    font-weight: 300;
}
.subscribe{
    background-color: white;
    width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    border-radius: 20px;
    height: 2rem;
    color: var(--secondary-color);
    font-size: 14px;
  
}

.join-button{
    background-color:#007bff ;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px rgba(150, 143, 143, 0.401) solid; 
    font-weight: 100;
    font-size: 12px;
}
.join-button:hover{
    cursor: pointer;

}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 20px;
    gap: 10px;
    
}
.footer-part{
    display: flex;
    gap: 10px;
}
@media (min-width: 500px) {
    .nav {
        display: flex;
        justify-content: space-around;
    }
    .navbar{
        justify-content: space-around;
        .title{
            font-size: 30px;
        }
        .buttons{
            font-size: 30px;
            button{background-color: #007bff8d;}
        }
    }
    
    .main_title{
        width: 24rem;
        font-size: 40px;
        
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .intro{
            font-size: 16px;
        }
    }
    .intro{
        width: 24rem;
        
    }
    .search{
        width: 32rem;
        height: 2rem;
        padding: 5px;
        font-size: 18px;
        i{
            font-size: 15px;
        }

    }
    .header{
        height: 100vh;
        .tail{
            justify-content: center;
            gap: 20px;
            font-size: 20px;
        }
    }
    .charts{
        margin-block: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .photo{
            width: 60rem;
        }
        .tools{
            padding-inline: 30px;
            h2{
                font-size: 30px;
            }
        }
    }
    .houses{
        display: flex;
        .details{
            p{
                font-size: 12px;
            }
            .sec{
                width: 10rem;
            }
        }
        .icons{
            font-size: 12px;
        }
        img{
            width: 15rem;
            height: 10rem;
        }
    }
    .featured{
        .title{
            font-size: 36px;
        }
    }
    .bg-comment{
        display: flex;
        border-radius: 30px;
        justify-content: flex-start;
        h3{
            font-size: 30px;
        }
        .comment{
            width: 50rem;
            
        }
       
    }
    .details{
        gap: 50px;
        
    }
    .apart{
        display: flex;
        justify-content: space-around;
        .designs{
            padding: 20px;
            width: 25rem;
            height: 30rem;
        }
    }
    .frequently-asked{
        margin-block: 60px;
        h2{
            font-size: 36px;
            padding-inline: 60px;
            text-align: center;
        }
        display: flex;
        justify-content: space-between;
        .questions{
            width: 50rem;
            
        }
    }
    .join-us{
        height: 15rem;
        width: 95%;
        margin-left: 28px;
        display: flex;
        flex-direction: row;
        h2{
            width: 25rem;
            font-size: 30px;
        }
        .subscribe{
            width: 25rem;
        }
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        font-weight: 500;
    }
}